<ion-content>
  <div class="leftSideBar">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>A</ion-label>
      </ion-item-divider>

      <ion-item lines="none" color="dark">
        <ion-icon name="chatbox-outline" size="small" slot="start"></ion-icon>
        <ion-label>Angola</ion-label>
      </ion-item>
      <ion-item lines="none" color="dark">
        <ion-icon name="chatbox-outline" size="small" slot="start"></ion-icon>
        <ion-label>Argentina</ion-label>
      </ion-item>
      <ion-item lines="none" color="dark">
        <ion-icon  name="chatbox-outline" size="small" slot="start"></ion-icon>
        <ion-label>Armenia</ion-label>
      </ion-item>
    </ion-item-group>
  </div>
  <div>
  </div>
</ion-content>
